@import './base.css';
@import './variable.css';
@import './component.css';
@import './pages/home.css';
@import './pages/mobile-kyc.css';

html {
  font-family: var(--font-inter), 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0px 0px;
  margin: 0px 0px;
  height: 100vh;
  font-family: var(--font-inter), 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

*,
*::before,
*::after {
  font-family: inherit;
}

.main {
  box-sizing: border-box;
}

.page-container {
  display: grid;
  grid-template-columns: 210px 1fr;
  gap: 30px;

  height: 100vh;

  background-color: var(--main-bg-color);
  overflow: auto;
  scrollbar-width: none;
  box-sizing: border-box;
  
  .left-container {
    position: sticky;
    top: 0px;
    /* border: 5px solid violet; */
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    margin: 20px;

    background-color: var(--main-bg-color);
    /* border: 5px solid green; */

    .main-content-body {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.table-wrapper {
  height: fit-content;

  .table-container {
    height: fit-content;
    overflow-y: visible;
  }
}
