.table-wrapper {
  background-color: var(--white-bg);
  border-radius: 10px;

  .table-tabs {
    padding: 0px 20px 0px 20px;
  }
}

.checkbox {
  cursor: pointer;
}

.s-no {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.link-like-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  font-size: 0.9em;
}

.table-page-header {
  padding: 15px 20px;
}

label.checkbox-inner {
  display: block;
  /* position: relative; */
  /* cursor: pointer; */
  user-select: none;

  height: 50px;
  /* width: 100%; */

  /* Hide the default input */
  input {
    position: absolute;

    width: 0;
    height: 0;

    cursor: pointer;
    opacity: 0;
  }

  input:checked {
    &~.checkmark {
      /* background-color: #30c4b819; */
      transition: 0.3s;
    }

    &~.checkmark>.checkmark-inner {
      border: 0;
      background-color: #3b82f6;
    }

    &~.label-text {
      transition: 0.3s;
      color: #3b82f6;
    }

    /* Show the tick when checked */
    &~.checkmark:after {
      display: block;
    }
  }

  /* Custom checkbox */
  .checkmark {
    /* position: absolute; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* top: -4px; */
    left: 0;
    gap: 15px;

    width: var(--checkbox-checkmark-width);
    height: 50px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* background-color: #f8f8f8; */
    /* background-color: #30c4b819; */
    transition: 0.25s;

    .checkmark-inner {
      display: inline-block;

      width: 18px;
      height: 18px;

      border-radius: 3px;
      background-color: #fff;
      border: 1px solid #eaeaea;
    }
  }

  /* Custom checkmark indicator (tick) */
  .checkmark:after {
    content: '';
    position: absolute;
    top: 19px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .label-text {
    margin-left: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;

    height: 50px;
    width: calc(100% - var(--checkbox-checkmark-width));
    padding-right: 20px;

    white-space: nowrap;
    font-weight: 500;
    color: #999999;
    background-color: #f8f8f8;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

label.checkbox-inner-read-state {
  opacity: 0.8;
  cursor: default;
}


/* Related to resizable textarea */
.hidden-div {
  display: none;

  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: unset;
}

