.add-category-wrapper {
  width: 300px;
  padding: 10px;

  .edit-wrapper {
    margin-top: 0px;
    padding-bottom: 5px !important;
  }

  .action-button-wrapper {
    justify-content: flex-end;
    gap: 20px;
  }
}

.category-drop-list {
  top: 30px;
  right: 4px;
}

.disable {
  opacity: 0.5;
}

.panel-review-date {
  font-size: 0.9em;
  font-weight: 400;
  padding: 0px 15px;
}




