/* Common CSS */
.status-main {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 15px;
  width: max-content;

  background-color: var(--green-bg);
  color: var(--font-green);
  border-radius: 20px;
  font-size: 0.85em;
  text-transform: uppercase;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 10px;
  width: max-content;

  /* background-color: var(--inactive-bg); */
  /* color: var(--font-red); */
  font-size: 0.7em;
  border-radius: 20px;
}

.status-no-bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  padding: 7px 14px;
  width: fit-content;

  background-color: transparent;
  /* color: var(--font-red); */
  font-size: 0.77em;
  border-radius: 8px;
  cursor: pointer;
}

.yellow {
  background-color: var(--progress-bg);
  color: var(--progress-text);
}

.green {
  background-color: var(--green-bg);
  color: var(--font-green);
}

.blue {
  background-color: var(--status-blue-bg);
  color: var(--font-blue-color);
}

.red {
  background-color: var(--inactive-bg);
  color: var(--font-red);
}

.grey {
  background-color: var(--pending-bg);
  color: var(--font-sub-text);
}

.green-no-bg {
  border: 1.2px solid var(--font-green);
  color: var(--font-green);
}

.blue-no-bg {
  border: 1.2px solid var(--font-blue-color);
  color: var(--font-blue-color);
}

.red-no-bg {
  border: 1.2px solid var(--font-red);
  color: var(--font-red);
}

/* Table Column Action styling */
.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}

.email-sub-text {
  color: var(--sub-text);
  font-weight: 300;
  font-size: 0.9em;
}

.company-reg-sub-text {
  padding-left: 5px;

  color: var(--sub-text);
  font-family: 300;
  font-size: 0.9em; 
}

.action-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.company-details {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 5px;

  .company-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .company-name {
      border: none;
      background-color: transparent;
      color: var(--font-blue-color);
      text-decoration-line: underline;
    }
  }
}

.country-icon {
  width: 20px;
  height: 20px;
}