.integration-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  height: 80vh;
  padding: 20px;

  background-color: var(--white-bg);
  border-radius: 14px;

  .integration-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 25px 10px;

    background-color: var(--white-bg);
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0.5px #0000001A;
    
    .img-wrapper {
      display: flex;
      align-items: center;
      height: 100px;

      .app-icon {
        height: 145px;
        width: 140px;
      }
    }

    .description {
      text-align: center;

      height: 100px;

      font-size: 0.77em;
      font-weight: 300;
      line-height: 1.9;
      color: var(--font-bold);
    }

    .btn-wrapper {
      .integration-button {
        padding: 10px 20px;
        
        background-color: var(--font-blue-color);
        border-radius: 10px;
        border: none;
        color: var(--white-bg);
        cursor: pointer;
      }
    }
  }
}