.transaction-id {
  color: var(--font-blue-color);
  text-decoration-line: underline;
}

.buyer-details {
  display: flex;
  flex-direction: column;
  gap: 5;
}

.company {
  color: var(--font-sub-text);
  font-size: 0.88em;
}

.link-text {
  color: var(--font-blue-color);
  text-decoration-line: underline;
  text-decoration-color: var(--font-blue-color);
  font-weight: 450;
}