.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .star-icon {
    width: 15px;
    height: 15px;

  }
}

.accuracy-rating {
  display: flex;
  flex-direction: row;
  align-items: center;

  .star-icon {
    width: 14px;
    height: 14px;
  }
}

.receptivity-rating {
  display: flex;
  flex-direction: row;
  align-items: center;

  .star-icon {
    width: 14px;
    height: 14px;
  }
}

.contact-rating {
  display: flex;
  flex-direction: row;
  align-items: center;

  .star-icon {
    width: 14px;
    height: 14px;
  }
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;

  .star-icon {
    width: 14px;
    height: 14px;
  }
}

.offensive-words-table {
  padding-top: 10px;
  
  .table-body {
    tr.table-body-row {
      td.table-body-data {
        padding: 15px !important;
      }
    }
  }
}

.panel-review-date {
  font-size: 0.9em;
}

.panel-offensive-words {
  font-size: 0.9em;
}

.panel-edit-icon-wrapper {
  background-color: transparent;
  border: none;

  .edit-icon {
    width: 18px;
    height: 18px;
  }
}

.panel-delete-icon-wrapper {
  background-color: transparent;
  border: none;

  .delete-icon {
    width: 18px;
    height: 18px;
  }
}

.disable {
  opacity: 0.5;
}